body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.question {
  width: 100%;
  max-width: 520px;
  height: 180px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #909090;
  border-radius: 3px;
}


.question-list {
  list-style: none;
  width: 90%;
  padding-left: 30px;
}

.question-list,
li {
  padding-bottom: 20px;
}

.center {
  text-align: center;
}

.question-avatar {
  height: 100px;
  border-radius: 50px;
  margin: 10px;
}

.question-heading {
  height: 40px;
  width: 100%;
  background: #D3D3D3;
  padding-top: 10px;
}

.question-info {
  width: 100%;
  direction: flex;
  height: 140px;
  display: flex;
}

.question-redirect {
    width: 420px;
}

.btn {
  text-transform: uppercase;
  padding: 10px;
  border: 2px solid #008CBA;
  cursor: pointer;
  background-color: #008CBA;
  font-size: 12px;
  width: 250px;
  height: 30px;
}

.btn:hover {
  border-color: #adddfc;
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.home {
  width: 550px;
  display: inline-block;
  border: solid #909090;
  border-width: 1px 1px;
}

.new-question {
  width: 100%;
  max-width: 520px;
  height: 360px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #909090;
  border-radius: 3px;
}

.new-question > h4 {
  height: 15px;
  text-align: center;
}


.new-question > h3 {
  height: 15px;
  text-align: center;
}

.new-question-heading {
  height: 50px;
  width: 99.99%;
  background: #D3D3D3;
  padding-top: 10px;
  border: solid  #909090;
  border-width: 1px 0px;
}

.new-question-form {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.new-question-form > p {
  height: 10px;
}
.new-question-form > button {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: white;
  border: 1px solid #008CBA;
}
.new-question-form > p {
  height: 10px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  font-size: 15px;
  height: 40px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  padding-left: 100px;
  height: 50px;
  border-bottom: 1px solid black;
  text-align: center;
}

.nav li:first-child {
  padding-left: 0;
}
.nav button {
  background: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.nav li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
  display: inline;
}

.nav-user {
  height: 100%;
  margin-left : 500px;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.nav-avatar {
  height: 35px;
  border-radius: 50%;
}

.poll-question {
  width: 100%;
  max-width: 520px;
  height: 220px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #909090;
  border-radius: 3px;
}

.poll-question-heading {
  height: 40px;
  width: 100%;
  background: #D3D3D3;
  padding-top: 10px;
}

.display-inline {
  display: inline-block;
}

.poll-question-info {
  width: 100%;
  direction: flex;
  height: 140px;
  display: flex;
}

.take-poll-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.take-poll-form > div {
  display: flex;
}