body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.question {
  width: 100%;
  max-width: 520px;
  height: 190px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #909090;
  border-radius: 3px;
}


.question-list {
  list-style: none;
  width: 90%;
  padding-left: 30px;
}

.question-list,
li {
  padding-bottom: 20px;
}

.center {
  text-align: center;
}

.question-avatar {
  height: 100px;
  border-radius: 50px;
  margin: 10px;
}

.question-heading {
  height: 40px;
  width: 100%;
  background: #D3D3D3;
  padding-top: 10px;
}

.question-info {
  width: 100%;
  direction: flex;
  height: 140px;
  display: flex;
}

.question-redirect {
    width: 420px;
}

.question-redirect > button {
  width: 80%;
  height: 35px;
  cursor: pointer;
  font-size: 15px;
}

.home {
  width: 550px;
  display: inline-block;
  border: solid #909090;
  border-width: 1px 1px;
}

.new-question {
  width: 100%;
  max-width: 520px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #909090;
  border-radius: 3px;
}

.new-question > h4 {
  height: 15px;
  text-align: center;
}


.new-question > h3 {
  height: 15px;
  text-align: center;
}

.new-question-heading {
  height: 50px;
  width: 99.99%;
  background: #D3D3D3;
  padding-top: 10px;
  border: solid  #909090;
  border-width: 1px 0px;
}

.new-question-form {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.new-question-form > p {
  height: 10px;
}
.new-question-form > button {
  width: 92%;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  cursor: pointer;
  font-size: 15px;
}
.new-question-form > p {
  height: 10px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  font-size: 15px;
  height: 35px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  padding-left: 100px;
  height: 50px;
  border-bottom: 1px solid black;
  text-align: center;
}

.nav li:first-child {
  padding-left: 0;
}
.nav button {
  background: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.nav li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
  display: inline;
}

.nav-user {
  height: 100%;
  margin-left : 500px;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.nav-user > p {
  margin-left: 15px;
  margin-top: 7px;
  display: inline-block;
}

.nav-avatar {
  height: 35px;
  border-radius: 50%;
}

.poll-question {
  width: 100%;
  max-width: 520px;
  height: 220px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #909090;
  border-radius: 3px;
}

.poll-question-heading {
  height: 40px;
  width: 100%;
  background: #D3D3D3;
  padding-top: 10px;
}

.display-inline {
  display: inline-block;
  width: 100%;
}

.poll-question-info {
  width: 100%;
  direction: flex;
  height: 140px;
  display: flex;
}

.take-poll-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.take-poll-form > button {
  width: 80%;
  height: 35px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 10px;
}

.take-poll-form > div {
  display: flex;
  margin-bottom: 5px;
}

.poll-result {
  width: 100%;
  max-width: 520px;
  height: 450px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #909090;
  border-radius: 3px;
}

.poll-result-heading {
  height: 40px;
  width: 100%;
  background: #D3D3D3;
  padding-top: 10px;
}

.poll-result-info {
  width: 100%;
  direction: flex;
  height: 140px;
  display: flex;
}
.poll-result-avatar {
  height: 120px;
  border-radius: 60px;
  margin: 10px; 
  margin-top: 100px;
}

.poll-result-redirect {
  width: 420px;
  height: 100%;
}

.option {
  width: 350px;
  height: 160px;
  border: 2px solid #909090;
  margin-left: 15px;
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
}

.option > strong {
  height: 20px;
  margin-top: 10px;
}
.option-selected {
  border: 2px solid #99CCFF;
  background: #CCFFFF
}

.progress {
  width: 95%;
  background: #D3D3D3;
  margin-left : 9px;
}

.bar {
  background: #00CCFF;
  text-align: center; 
  line-height: 30px;  
}

.user-list > li {
  list-style-type: none;
  margin-left: 500px;
}

.user {
  width: 530px;
  height: 180px;
  border: 1px solid #909090;
  display: flex;
  flex-direction: row;
}

.user-avatar {
  height: 100px;
  border-radius: 50px;
  margin-top: 40px;
  margin-left: 10px;
}
.user-info > h3 {
  margin-left: 40px;
  margin-bottom: 30px;
}
.user-qa-info {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 200px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.first-child {
  width: 180px;
}

.score {
  border: 1px solid #909090;
  height: 140px;
  width: 120px;
  margin-left: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: column
}

.score-heading {
  background: #D3D3D3;
  height: 40px;
  width: 100%;
}  

.score-heading > strong {
  margin-top: 10px;
  margin-left: 36px;
  display: inline-block;
}

.score-info {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin: 10px;
  margin-top: 28px;
  margin-left: 40px;
  border: 1px solid black;
  background: #99FFFF;
}

.score-info > strong {
  width: 100%;
  height: 100%;
  margin-left: 14px;
  margin-top: 10px;
  text-align: middle;
  display: inline-block;
}


.login {
  width: 100%;
  max-width: 520px;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #909090;
  border-radius: 3px;
} 

.login-heading {
  height: 80px;
  width: 100%;
  background: #D3D3D3;
  padding-top: 10px;
}
.login-heading > h3 {
  margin-top: 4px;
}

.login-form {
  margin-top: 20px;
}

.login-form > select {
  width: 80%;
  height: 35px;
  font-size: 15px;
}

.login-form > button {
  width: 80%;
  height: 35px;
  cursor: pointer;
  font-size: 15px;
}